<div class="container w-full flex m-5">
  <%= link_to new_todo_path,
      class: "w-max text-lg flex items-center font-semibold bg-yellow-500 hover:bg-yellow-600 rounded-lg gap-2 p-2" do %>
    
    <span>New Todo</span>
    <%= image_tag "more.png", class: "w-6 h-6" %>

  <% end %>
</div>